<!DOCTYPE html>
<html>
  <head>
    <title>Jeremy Dumas - Web Development</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('raphael.svg') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="new work">
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
